<div id="editForm" class="modal fade in" role="dialog" style="display: none; padding-right: 15px;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!-- Để ẩn đi vậy nha--><!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                 <h4 class="modal-title">Cập nhật xe vượt trạm</h4>
             </div>
             <div class="modal-body">
                 <div class="row">
                     <div class="col-md-10">
                         <div class="form-group">
                             <label for="field-3" class="control-label">Biển số xe:</label>
                             <input type="text" class="form-control" id="field-1" placeholder="">
                         </div>
                     </div>
 
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label for="field-2" class="control-label">Tên khách hàng:</label>
                             <input type="text" class="form-control" id="field-2" placeholder="">
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                             <label for="field-2" class="control-label">Làn:</label>
                             <input type="text" class="form-control" id="field-3" placeholder="">
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label for="field-4" class="control-label">Thời gian:</label>
                             <input type="text" class="form-control" id="field-4" placeholder="">
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                             <label for="field-4" class="control-label">Mệnh giá:</label>
                             <input type="text" class="form-control" id="field-4" placeholder="">
                         </div>
                     </div>    
                 </div>
                 <div class="row">
                     <div class="col-md-12">
                         <div class="form-group no-margin">
                             <label for="field-7" class="control-label">Ghi chú:</label>
                             <textarea class="form-control" id="field-7" placeholder=""></textarea>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Tắt</button>
                 <button type="button" class="btn btn-success waves-effect waves-light">Lưu thay đổi</button>
             </div>
        </div>
    </div>
</div>


<!-- sample modal content -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <!-- Để ẩn đi vậy nha--><!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                <h4 class="modal-title">Thêm xe vượt trạm</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Biển số xe:</label>
                            <input type="text" class="form-control" id="field-1" placeholder="">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-2" class="control-label">Tên khách hàng:</label>
                            <input type="text" class="form-control" id="field-2" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-2" class="control-label">Làn:</label>
                            <input type="text" class="form-control" id="field-3" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Thời gian:</label>
                            <input type="text" class="form-control" id="field-4" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Mệnh giá:</label>
                            <input type="text" class="form-control" id="field-4" placeholder="">
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Ghi chú:</label>
                            <textarea class="form-control" id="field-7" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Tắt</button>
                <button type="button" class="btn btn-success waves-effect waves-light">Lưu</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
