<div id="editForm" class="modal fade in" role="dialog" style="display: none; padding-right: 15px;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Cập nhật thông tin </h4>
            </div>
            <div class="modal-body" id="editor-body">
                <form id="updateTrack">
                    <p><b>BIỂN SỐ XE</b>:
                        <input type="text" class="form-control" id="LicensePlatesEdit" name="LicensePlatesEdit" required="true" >
                    </p>
                    <p><b>TÊN KHÁCH HÀNG</b>:
                        <input type="text" class="form-control" id="NameCustomerEdit" name="NameCustomerEdit" required="true" value="Đang cập nhật">
                    </p>
                    <p><b>LÀN</b>
                        <br>
                        <select class="form-control" id="LaneEdit" name="LaneEdit">
                            <% listLane.forEach((item)=>{ %>
                                <option value="<%=item.LaneID%>"><%=item.LaneName%></option>
                           <% }) %>
                        </select>
                    </p>
                    <p><b>Ngày tháng</b>:
                        <input type="text" class="datetimepicker form-control flatpickr-input datetimeinput" id="TrackTimeEdit" name="TrackTimeEdit" required="true" readonly="readonly">
                    </p>
                    <p><b>GHI CHÚ</b>
                        <br>
                        <textarea class="form-control" id="NotesEdit" name="NotesEdit">Vượt trạm</textarea>
                    </p>
                    <p><b>MỆNH GIÁ</b>
                        <br>
                        <select class="form-control" id="FeeEdit" name="FeeEdit">
                            <% listFee.forEach(item=>{ %>
                                <option value="<%=item.IdFee %>"> <%=item.FeeNumbers%></option>
                            <% }) %>
                        </select>
                    </p>
                    <input type="hidden" id="idTrackEdit" name="idTrackEdit" >
                    <button class="btn btn-primary " id="UpdateTrack" type="button"><i class="fa fa-save"></i> Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>



<div id="addForm" class="modal fade" role="dialog" style="display: none;">
        <div class="modal-dialog" class="col-md-6">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"><font color="green">Thêm thông tin</font></h4>
                </div>
                <!---->
                

                
                <!---->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
